.container {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 2px;
  padding: 2px
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
  display: flex;  
  flex-wrap: wrap;
}

.col-example {
  padding: 2px;
  background-color: #33b5e5;
  border: 2px solid rgb(8, 37, 201);
  text-align: center;
}

.secondary {
  margin: 6px
}

